<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanzoy.nps.mapper.UserMapper">

    <select id="login" resultType="com.hanzoy.nps.po.LoginPO">
        select u.name, u.id, r.name AS role from nps.user u left join nps.role r
        on u.role = r.id
        where
              u.username = #{username}
          and u.password = #{password};
    </select>

    <insert id="register" useGeneratedKeys="true" keyProperty="id">
        insert into
            nps.user(username, password, name, role)
        values(#{username}, #{password}, #{name} ,1);
    </insert>

    <select id="searchUsername" resultType="com.hanzoy.nps.domain.User">
        select * from nps.user
        where username = #{username};
    </select>

    <select id="searchRole" resultType="string">
        select name from nps.role
        where id = #{id};
    </select>
</mapper>